@import "./mixins/index";
@import "./variables/index";
@import "./fonts";
@import "./normalize.scss";
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
  margin: 0 auto;

  @include atXXl {
    max-width: 1200px;
    padding: 0 26px;
  }

  @include atXl {
    max-width: 1012px;
    padding: 0 25px;
  }
  @include atLg {
    max-width: 880px;
    padding: 0 20px;
  }
  @include atMd {
    max-width: 578px;
    padding: 0 20px;
  }
  @include atSm {
    padding: 0 16px;
  }
}
